<?xml version="1.0"?>
<!--
* @author Arturo Cabrera SBmedical
* @copyright Copyright (c) 2018  (http://sbmedical.com/)
* @package Sbmedical_InvoiceStatusesColumn
*-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Sbmedical_InvoiceStatusesColumn" setup_version="1.0.0">
	</module>
</config>